<section data-ng-controller="CertificadosController">
    <div class="jumbotron text-center">
        <div class="row">
            <div class="col-md-2 col-md-offset-5">
                <img alt="GDH-BH" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
            </div>
        </div>
        <br>
        <div class="row">
            <p class="lead">
                Certificado gerado !
            </p>
        </div>
        <div class="row">
            <p>
                <a class="btn btn-success btn-lg" href="/certificados/{{certificadoId}}">
                    <i class="glyphicon glyphicon-download-alt">Download</i>
                </a>
            </p>
        </div>
    </div>
    <!-- <div>
        <a class="btn btn-primary" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == certificado.user._id))">
        <a class="btn btn-primary" href="/#!/certificados/{{certificado._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a> -->
</section>
